@model IEnumerable<StoreFront.DATA.EF.ProductStatus>

@{
    ViewBag.Title = "Production Status";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductStatusID })
        </td>
    </tr>
}

</table>
